@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: center;
    width: 100%;
    max-width: 400px;
}

.button-group {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.status-button {
    padding: 10px;
    width: 48%;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.status-button.selected {
    background-color: #ff9900;
}

.status-button:hover {
    background-color: #66b2ff;
}

.status-button.selected:hover {
    background-color: #FFA07A; /* Light orange shade */
}

.status-button:focus {
    outline: none;
}

.status-button.clicked {
    box-shadow: 0 0 0 4px #007BFF inset;
}

select, button {
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    background-color: #28a745;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #218838;
}

.error-message {
    color: red;
    margin-top: 10px;
}

h1 {
    margin-bottom: 20px;
}
.translator {
    width: 100%;
    max-width: 400px;
    display: flex;
    justify-content: flex-end;
    translate : auto auto 
 }